.passwordInput {
    width:auto;
    max-width:100%;
    border: 2px gray solid;
    border-radius: 10px;
    display: block;
    margin: 5px;
    height: max-content;
    padding-left: 8px;
}

.passwordInputBody {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
}

.passwordInput input {
    display: flex;
    width: 100%;
    margin: 2px auto 2px 0;
    color: gray;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    font-family: 'Golos Text', sans-serif;
    font-weight: 450;
    height: max-content;
}
.passwordInput input::placeholder {
    font-family: 'Golos Text', sans-serif;
    font-weight: 450;
    color: #a4a4a4;
    font-size: 20px;
}

.passwordInput label {
    display: flex;
    margin-top: 2px;
    font-size: 10px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    color: gray;
    user-select: none;
    pointer-events: none;
}

.lock {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: gray;
    min-width: max-content;
    margin-right: 5px;
}

.toggleVisibleButton{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    height: 100%;
    width: max-content;
    margin-right: 8px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 2px;
}

.eyeIcon {
    color: gray;
    stroke-width: 0.125ex;
}

.noValid {
    background: rgba(255, 108, 108, 0.56);
}

.focus {
    border: 2px #fd0600 solid;
}

.focus label{
    color: #fd0600;
}