* {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    height: 100%;
}

.log-in-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.log-in {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: max-content;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.log-in h1 {
    color: #fd0600;
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 25px;
    user-select: none;
}

.login-input {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 55px;
    font-family: 'Golos Text', sans-serif;
    color: #fd0600;
    font-weight: 600;
    font-size: 14px;
}

.password-input {
    margin-top: 15px;
    margin-bottom: 5px;
    height: 55px;
    font-family: 'Golos Text', sans-serif;
    color: #fd0600;
    font-weight: 600;
    font-size: 14px;
}

.remember-me {
    margin-top: 0;
    margin-bottom: 20px;
    height: 20px;
}

.log-in-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.log-in-button button {
    height: 48px;
    font-size: 18px;
}

.log-in-button button:hover {
    font-size: 22px;
}

.log-in-button button:active {
    transform: scale(0.95);
}