.additionalButton {
    cursor: pointer;
    background: none;
    border: none;
    max-width: max-content;
    min-width: 25px;
    min-height: 25px;
    max-height: 25px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgba(82, 82, 82, 0.6);
    padding: 5px;
}

.additionalButton:hover {
    color: #333333;
    background: rgba(190, 190, 190, 0.44);
    transition: 0.5s;
    font-size: 15px;
}

.additionalButton:active {
    transform: scale(0.95);
}